OPENAI_API_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_RATE_REDIS_REST_URL=
UPSTASH_RATE_REDIS_REST_TOKEN=
LEMON_API_KEY=
NODE_ENV=
BILIBILI_COOKIE=
PROMPT_VERSION=41
NEXT_PUBLIC_PROMPT_STRING=上面提供了视频标题和字幕。其中时间戳是秒形式，希望你作为剪辑，帮找精彩片段。请先总结梗概。然后找出5个最有趣的或高潮的时间点，用无序列表，针对每个时间点用一行表示，先给出时间戳，然后简短准确地介绍内容，可以选择性插入字幕原文，5条中至少有一条，但也不要全部用字幕原文。不用把"时间点"、"内容"、"字幕"这样的说明性文字打出来，每个时间点中不要换行，不同时间点之间才换行。
OPENAI_HTTP_PROXY=
MAX_TOKENS=400
