OPENAI_API_KEY=sk-xxx
BILIBILI_SESSION_TOKEN=
SAVESUBS_X_AUTH_TOKEN=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
UPSTASH_RATE_REDIS_REST_URL=
UPSTASH_RATE_REDIS_REST_TOKEN=
LEMON_API_KEY=
SUPABASE_HOSTNAME=xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_URL=https://${SUPABASE_HOSTNAME}
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SEGMENT_WRITEKEY=
NEXT_PUBLIC_SITE_URL=
INTERNAL_API_HOSTNAME=api.example.com
NODE_ENV=
BILIBILI_COOKIE=
PROMPT_VERSION=76
NEXT_PUBLIC_PROMPT_STRING=通过以上带时间戳的字幕，请先用一句话总结视频梗概。在整个视频时长中尽量平均地挑选出最有趣的{sentenceCount}条片段，用无序列表展示，其中每行先给开始时间戳再给简短内容介绍。不需要"时间点"这样的说明文字，按顺序，不要重复。
OPENAI_HTTP_PROXY=
MAX_TOKENS=600
PROMPT_BYTE_LIMIT_COUNT=5000

